<nz-layout>
    <nz-header>
        <div class="nav">
            <ul>
                <li>今日首选</li>
                <li>电视剧</li>
                <li>电影</li>
                <li>综艺</li>
                <li>热播</li>
                <li>戏剧</li>
            </ul>
        </div>
        <div class="nav-left">
                <ul>
                        <li>今日首选</li>
                        <li>电视剧</li>
                        <li>电影</li>
                        <li>综艺</li>
                        <li>热播</li>
                        <li>戏剧</li>
                </ul>
        </div>
    </nz-header>
    <nz-content>
        <app-filmcontent></app-filmcontent>
    </nz-content>
    <nz-footer>
        <h2>影视，让生活更美好</h2>
    </nz-footer>
  </nz-layout>