<button nz-button [nzType]="'default'" (click)="showModal()"><span>新增</span></button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Name</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="email" id="email" [(ngModel)]="name">
      <nz-form-explain *ngIf="validateForm.get('email').dirty && validateForm.get('email').errors">请输入姓名。。</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Age</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input  id="password" formControlName="password" (ngModelChange)="updateConfirmValidator()"  [(ngModel)]="age">
      <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">Please input your age!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

    <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm Password</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input type="password" formControlName="checkPassword" id="checkPassword">
      <nz-form-explain *ngIf="validateForm.get('checkPassword').dirty && validateForm.get('checkPassword').errors">
        <ng-container *ngIf="validateForm.get('checkPassword').hasError('required')">
          Please confirm your password!
        </ng-container>
        <ng-container *ngIf="validateForm.get('checkPassword').hasError('confirm')">
          Two passwords that you enter is inconsistent!
        </ng-container>
      </nz-form-explain>
    </nz-form-control> -->

  <!-- <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nickname" nzRequired>
      <span>
        Nickname
        <nz-tooltip nzTitle="What do you want other to call you">
          <i nz-tooltip class="anticon anticon-question-circle-o"></i>
        </nz-tooltip>
      </span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="nickname" formControlName="nickname">
      <nz-form-explain *ngIf="validateForm.get('nickname').dirty && validateForm.get('nickname').errors">Please input your nickname!</nz-form-explain>
    </nz-form-control>
  </nz-form-item> -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Address</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input  id="password" formControlName="password" (ngModelChange)="updateConfirmValidator()"  [(ngModel)]="address">
      <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">Please input your address!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>Phone Number</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="validateForm.controls['phoneNumber']">
      <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
        <ng-template #addOnBeforeTemplate>
          <nz-select formControlName="phoneNumberPrefix" style="width: 70px;">
            <nz-option nzLabel="+86" nzValue="+86"></nz-option>
            <nz-option nzLabel="+87" nzValue="+87"></nz-option>
          </nz-select>
        </ng-template>
        <input formControlName="phoneNumber" id="'phoneNumber'" nz-input  [(ngModel)]="phone">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('phoneNumber').dirty && validateForm.get('phoneNumber').errors">Please input your phone number!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
</form>

</nz-modal>